<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Impressoras - HRA</title>
</head>
<body>
    <div class="container">
        <div id="lst">
                <div id="listaTitulo">IMPRESSORAS CADASTRADAS</div>
                <div class="lista">
                <%resultado.forEach(element => {%>
                    <div class="itens">
                        <span id="hostname">Hostname:<%=element.nome%></span>
                        <span id="modelo">Modelo:<%=element.modelo%></span>
                        <span id="endereco">IP:<%=element.endereco%></span>
                        <span id="status">Status:<%=element.status%> </span>

                    </div>
                <%});%></div>
        </div>
        <div class="status">
            <div>
                <div id="alerta">ALERTA</div>
                <div class="alerta">
                    <%resultado.forEach(element => {
                        if (element.toner <= 10){%>
                        <div class="printer">
                            <span>IP: <%=element.endereco%></span><br>
                            <span>Toner: <%=element.toner%></span>%<br>
                            <span>Kit Imagem: <%=element.imagem%></span>%<br>
                            <span>Manutenção: <%=element.manutencao%></span>%<br>
                        </div>
                    <%}});%>
                </div>
            </div>
            <div>
                <div id="atencao">ATENÇÃO</div>
                <div class="atencao">
                    <%resultado.forEach(element => {
                        if ((element.toner > 10) && (element.toner <= 20)){%>
                        <div class="printer">
                            <span>IP: <%=element.endereco%></span><br>
                            <span>Toner: <%=element.toner%></span>%<br>
                            <span>Kit Imagem: <%=element.imagem%></span>%<br>
                            <span>Manutenção: <%=element.manutencao%></span>%<br>
                        </div>
                    <%}});%>
                </div>
            </div>    
        </div>
    </div>

    
</body>