<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <%resultado.forEach(element => {
            if ( element.status == 'Offline' ){ %>
                <div class="printer">
                    <div class="off">
                        <p>IMPRESSORA OFFLINE</p>
                    </div>
                </div> 
            <%}else {

            %><div class="printer">
                <div class="on">
                    <div class="info">
                        Nome: <%=element.nome%><br>
                        Modelo: <%=element.modelo%><br>
                        Endereço: <%=element.endereco%><br>
                        Conectada: <%=element.status%> <br>
                    </div>
                    <div class="status">
                        Toner: <div class="bars" style="border-radius: 4px;background: linear-gradient(90deg, rgba(193,7,7,1) 0%, rgba(9,96,121,1) 35%, rgba(0,255,12,1) 100%);;height:16px;width:<%=element.toner%>%;"><%=element.toner%> % </div>
                        <div class="bars">Manutenção: <%=element.manutencao%> % </div>
                        <div class="bars">Imagem: <%=element.imagem%> %</div>
                    </div>
                </div> 
            </div>
            <%
        }})
    
        
        %>
    </div>

    
</body>