<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/container.css">
    <link rel="stylesheet" href="./style/header.css">
    <title>Impressoras - HRA</title>
</head>
<body>
    <!--LOGO e TITULO -->
    <div class="header">
        <span>EMPRESA e LOGO</span>
    </div>
    <!--MENU-->
    <div class="container-tab">
        <ul class="tabs">
            <a href="#" id="dashboard">
                Dashboard
            </a>
            <a href="#" id="cadastro">
                Cadastro
            </a>
            <a href="#" id="relatorio">
                Relatório
            </a>
        </ul>
    </div>
    <!--Conteudo do Cadastro -->
    <div id="container_cadastro" class="container cadastro">
        Conteudo do Cadastro
    </div>
    <!--Conteudo do Relatório -->
    <div id="container_relatorio" class="container relatorio">
        Conteudo do Relátorio
    </div>
    <!--Conteudo Dashboard -->
    <div id="container_dashboard" class="container dashboard">
        <div id="dashboard_alertas">
            <div id="titulo_alerta">ALERTAS</div>
            <div class="alertas">
                <% resultado.forEach(element => {%>
                    <div class="itens">
                        <ul>
                            <span>Toner:&nbsp</span><br><li><%=element.toner%>%<b style="width:<%=element.toner%>%;">&nbsp</b></li>
                            <span>Manutenção:&nbsp</span><br><li><%=element.manutencao%>%<b style="width:<%=element.manutencao%>%;" >&nbsp</b></li>
                            <span>Imagem:&nbsp</span><br><li><%=element.imagem%>%<b style="width:<%=element.imagem%>%;">&nbsp</b></li>
                            <span id="item_setor"><%=element.local%></span>
                            <span id="item_ip"><%=element.endereco%></span>
                        </ul>
                    </div>
                <%}); %>
                
                    
            </div>
        </div>
        <div id="dashboard_lista">
            <div id="titulo_lista">Impressoras Cadastradas</div>
            <!--Lista das Impressoras Cadastradas-->
            <input id="input" class="pesquisa" type="text" placeholder="Busca por Setor"  onkeyup="barra()" >
            <div id="itens" class="lista">
                <!--EJS Repetir para todos os itens do Array-->
                <% resultado.forEach(element => {%>
                    <ul class="lista_itens">
                        <div>Setor:&nbsp<li id="setor"><%=element.local%></li></div>
                        <div>Status:&nbsp<span class="<%= element.status === 'Online' ? 'online' : 'offline' %>"><%=element.status%></span></div>
                    </ul>
                    <%}); %>
            </div>
        </div>
    </div>
    <script src="index.js"></script>
    <script src="barra.js"></script>
</body>
</html>